.mnav {
	background-color: $color-blue;
}
.mnav ul {
	margin: 0;
	padding: 0; 
}
.mnav li {
	display: inline-block;
}
.mnav li:last-child {
	border-right-width: 0;
}
.mnav a {
	color: #fff;
	font-size: $font-size;
	display: block;
	padding: $spacing $spacing;
}