.mnav {
	background: $color-brand;
	
	&__item {
		display: inline-block;

	}
	
	&__link {
		display: block;
		color: #fff;
		font-size: $font-size;
		padding: $spacing $spacing;

		transition: $transition;

		&:hover,
		&.is-active {
			background: lighten($color-brand, 10%);
		}
	}

}