/* =======================================*/
/*
/* COMPONENT NAV
/*
/* =======================================*/

.component_nav {
	display: block;
	width: 100%;
	background: $color-grey;
	padding: $whitespace/2 $whitespace $whitespace/2 $whitespace/2;
	border: none;
	border-radius: $border-radius;
	-webkit-appearance: none;
	outline: none;
}