---
title:  "Styleguide"
permalink: "/styleguide/"
layout: styleguide
---

<h1>Developer Styleguide</h1>
<p>1. Include: <a href="{{ site.github_repo }}/_includes/_config.scss" target="_blank">config.scss</a></p>
<p>2. Include: <a href="{{ site.github_repo }}/_includes/_base.scss" target="_blank">base.scss</a></p>

<!-- ASSIGN COMPONENTS -->
{% assign componentsByType = site.components | sort:"title" | group_by:"type" %}

<!-- COMPONENT NAV -->
{% include styleguide/component_nav/component_nav.html %}

<!-- DISPLAY COMPONENTS -->
{% for type in componentsByType %}
	<h2 id="styleguide-section-{{ type.name }}">{{ type.name | capitalize }}</h2>
	{% for entry in type.items %}
		{% include styleguide/component_mask/component_mask.html %}
	{% endfor %}
{% endfor %}
