---
title:  "Styleguide"
layout: styleguide
permalink: "/styleguide/"
---

<h1>HFC Relay - Developer Styleguide</h1>
<p>Some Info</p>

<!-- ASSIGN COMPONENTS -->
{% assign componentsByType = site.components | group_by:"type" %}

<!-- COMPONENT NAV -->
{% include styleguide/component_nav.html %}

<!-- DISPLAY COMPONENTS -->
{% for type in componentsByType %}
	<h2 id="styleguide-section-{{ type.name }}">{{ type.name | capitalize }}</h2>
{% for entry in type.items %}
	{% include styleguide/component.html %}
{% endfor %}
{% endfor %}
