<article class="component">

	<header class="component__header">
		<h2 class="component__title" id="styleguide-section-{{ entry.title | slugify }}">
			{{ entry.title }}
		</h2>
		{% if entry.scss %}
			<p class="component__sass">
				SCSS: <a href="{{ site.github_repo }}{{ entry.scss }}" target="_blank">{{ entry.scss }}</a>
			</p>
		{% endif %}
		{% if entry.usage %}
			<p class="component__usage">
				Usage: {{ entry.usage }}
			</p>
		{% endif %}
	</header>
	<div class="component__body">
		<div class="component__display">
			{{ entry.content }}
		</div>
		<div class="component__source">
			{% highlight html %}
				{{ entry.content }}
			{% endhighlight %}
		</div>
	</div>

</article><!-- /.component -->
