html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	color: #333;
	background: #fff;
}

img {
	display:block;
	width: 100%;
}

ul {
	margin: 0;
	padding: 0;
}