/* =======================================*/
/*
/* CONTENT
/*
/* =======================================*/

.content {
	padding: 20px;

	&__inner {
		@include flexbox;

		min-width: map-get($breakpoints, large);
		max-width: map-get($breakpoints, x-large);
		margin: auto;
		
		@include respond-to(x-small) {min-width: 0;}
	}

	&__page {
		flex: 1;
	}
}