/* =======================================*/
/*
/* CONTENT
/*
/* =======================================*/

.content {
	@include respond-above(x-small) { padding: $whitespace; }
	@include respond-above(medium) { padding: $whitespace 0; }
	@include respond-above(large) { padding: $whitespace; }

	&__inner {
		@include flexbox();
		@include responsive-container();

		@include respond-below(medium) {
			@include flexbox($direction: column);
		}
	}

	&__page {
		flex: 1;
	}
}