/* =======================================*/
/*
/* CONTENT
/*
/* =======================================*/

.content {
	padding: $whitespace;
	
	&__inner {
		@include flexbox($align: stretch);
		@include container();
	}

	&__page {
		@include column(6/10, $gutter: true, $behavior: stacking);
		@include flexbox();
		flex: 1;

		> * {
			width: 100%; // for: flexbox
		}
	}
}