/* =======================================*/
/*
/* CONTENT
/*
/* =======================================*/

.content {
	padding: $whitespace;
	
	&__inner {
		@include flexbox($wrap: nowrap);
		@include container();
	}

	&__page {
		flex: 1;
		@include flexbox();

		> * {
			width: 100%; // for: flexbox
		}
	}
}
		

/* =======================================*/
/* RESPONSIVE BEHAVIOR
/* =======================================*/

@include respond-below(l) {
	.content {
		
		&__inner {
			@include flexbox($direction: column, $wrap: nowrap);
		}

		&__page {
			flex: inherit;
		}
	}
}