/* =======================================*/
/*
/* BASE
/*
/* =======================================*/

html, body {
	height: 100%;
}

html {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	color: $color-black;
}

img {
	display:block;
	width: 100%;
}


/* =======================================*/
/*
/* IMPORTS
/*
/* =======================================*/

@import 'components_base/grid/grid';
@import 'components_base/typography/typography';
@import 'components_base/header/header';
@import 'components_base/nav/nav';
@import 'components_base/content/content';
@import 'components_base/sidebar/sidebar';
@import 'components_base/footer/footer';
