/* =======================================*/
/*
/* BASE
/*
/* =======================================*/

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	color: #333;
}

img {
	display:block;
	width: 100%;
}

/* =======================================*/
/*
/* HELPERS
/*
/* =======================================*/

@mixin flexbox {
	display: table-cell; // IE9 FALLBACK
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
@mixin flexbox-width($width) {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	width: $width;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}
@mixin flexbox-order($order) {
	-webkit-box-ordinal-group: $order;
	-moz-box-ordinal-group: $order;
	-ms-flex-order: $order;
	-webkit-order: $order;
	order: $order;
}

/* =======================================*/
/*
/* IMPORTS
/*
/* =======================================*/

@import 'components_base/typography/typography';
@import 'components_base/header/header';
@import 'components_base/mnav/mnav';
@import 'components_base/content/content';
@import 'components_base/sidebar/sidebar';
@import 'components_base/footer/footer';
