/* =======================================*/
/*
/* COLORS
/*
/* =======================================*/

$color-black: #333;
$color-spaceblack: #2F394D;
$color-grey: #eee;
$color-spacegrey: #a7adba;

$color-red: #F44336;
$color-pink: #E91E63;
$color-purple: #9C27B0;

$color-deeppurple: #673AB7;
$color-indigo: #3F51B5;
$color-blue: #2196F3;

$color-lightblue: #03A9F4;
$color-cyan: #00BCD4;
$color-teal: #009688;

$color-green: #4CAF50;
$color-lightgreen: #8BC34A;
$color-lime: #CDDC39;

$color-yellow: #FFEB3B;
$color-amber: #FFC107;
$color-orange: #FF9800;

$color-brand: $color-blue;

/* =======================================*/
/*
/* LAYOUT
/*
/* =======================================*/

$whitespace: 20px;
$sidebar-width: 225px;
$responsive: true; // true or false
$breakpoints: (
	'x-small': 321px,
	'small'  : 641px,
	'medium' : 769px,
	'large'  : 960px,
	'x-large': 1201px
);

/* =======================================*/
/*
/* TYPOGRAPHY
/*
/* =======================================*/

$font-family: 'Helvetica', 'Arial', sans-serif;
$font-size: 14px;
$line-height: 1.6;

/* =======================================*/
/*
/* USER INTERFACE
/*
/* =======================================*/

$box-shadow-depth-1: 0px 1px 3px rgba(0, 0, 0, 0.15);
$box-shadow-depth-2: 0px 2px 5px rgba(0, 0, 0, 0.15);
$box-shadow-depth-3: 0px 4px 9px rgba(0, 0, 0, 0.15);
$box-shadow-depth-4: 0px 8px 18px rgba(0, 0, 0, 0.15);
$box-shadow-depth-5: 0px 16px 32px rgba(0, 0, 0, 0.15);

$box-shadow: $box-shadow-depth-1;
$border-radius: 2px;
$transition: all 0.15s ease-in;

/* =======================================*/
/*
/* COMPONENTS
/*
/* =======================================*/

$teaser-lines-to-show: 3;



/* =======================================*/
/*
/* MIXINS
/* 
/* =======================================*/

// Usage: @include respond-to(small) { ... }
@mixin respond-to($name) {
	@if map-has-key($breakpoints, $name) and $responsive == true {
		@media (min-width: #{ inspect(map-get($breakpoints, $name))}) {
			@content;
		}
	}
}
