/* =======================================*/
/*
/* COLORS
/*
/* =======================================*/

$color-black		: #333;
$color-spaceblack	: #171F2D;
$color-grey			: #eee;
$color-spacegrey	: #a7adba;

$color-red			: #F44336;
$color-pink			: #E91E63;
$color-purple		: #9C27B0;

$color-deeppurple	: #673AB7;
$color-indigo		: #3F51B5;
$color-blue			: #2196F3;

$color-lightblue	: #03A9F4;
$color-cyan			: #00BCD4;
$color-teal			: #009688;

$color-green		: #4CAF50;
$color-lightgreen	: #8BC34A;
$color-lime			: #CDDC39;

$color-yellow		: #FFEB3B;
$color-amber		: #FFC107;
$color-orange		: #FF9800;

$color-brand: $color-spaceblack;

/* =======================================*/
/*
/* LAYOUT
/*
/* =======================================*/

$whitespace		: 20px;
$sidebar-width	: 215px;
$responsive		: true; 	// true or false
$use-devmode	: false; 	// true or false
$breakpoints: (
	'x-small': 401px,
	'small'  : 641px,
	'medium' : 769px,
	'large'  : 960px,
	'x-large': 1180px
);

/* =======================================*/
/*
/* TYPOGRAPHY
/*
/* =======================================*/

$font-family	: 'Helvetica', 'Arial', sans-serif;
$font-size		: 14px;
$line-height	: 1.6;

/* =======================================*/
/*
/* USER INTERFACE
/*
/* =======================================*/

$border: 1px solid $color-grey;

$border-radius-size-1	: 2px;
$border-radius-size-2	: 4px;
$border-radius-size-3	: 6px;
$border-radius-size-4	: 8px;
$border-radius-size-5	: 10px;

$border-radius			: $border-radius-size-1;

$box-shadow-size-1	: 0px 1px 3px rgba(0, 0, 0, 0.15);
$box-shadow-size-2	: 0px 2px 5px rgba(0, 0, 0, 0.15);
$box-shadow-size-3	: 0px 4px 9px rgba(0, 0, 0, 0.15);
$box-shadow-size-4	: 0px 8px 18px rgba(0, 0, 0, 0.15);
$box-shadow-size-5	: 0px 16px 32px rgba(0, 0, 0, 0.15);

$box-shadow			: $box-shadow-size-3;

@mixin transition() {
	-webkit-transition: all 125ms ease-in;
	-moz-transition: all 125ms ease-in;
	-ms-transition: all 125ms ease-in; // IE10 is actually unprefixed //
	-o-transition: all 125ms ease-in;
	transition: all 125ms ease-in;
}

/* =======================================*/
/*
/* COMPONENTS
/*
/* =======================================*/

$teaser-lines-to-show: 3;

/* =======================================*/
/*
/* MEDIAQUERIES
/* 
/* =======================================*/

// Desktop-First Mixins
@mixin below($name) {
	@if map-has-key($breakpoints, $name) and $responsive == true {
		@media (max-width: #{ inspect(map-get($breakpoints, $name))}) {
			@content;
		}
	}
}

// Mobile-First Mixins
@mixin above($name) {
	@if map-has-key($breakpoints, $name) and $responsive == true {
		@media (min-width: #{ inspect(map-get($breakpoints, $name))}) {
			@content;
		}
	}
}

/* =======================================*/
/*
/* CONTAINER
/* 
/* =======================================*/

@mixin container() {
	@if $responsive == true {
		min-width: 0;
	} 
	@else {
		min-width: map-get($breakpoints, large);
	}
	max-width: map-get($breakpoints, x-large);
	margin: 0 auto;
}

/* =======================================*/
/*
/* FLEXBOX
/* 
/* =======================================*/

@mixin flexbox($type: null, $direction: null, $wrap: null, $justifiy: null, $align: null) {
	// Flex or Inline-Flex
	@if $type == 'inline-flex' {
		display: inline-flex;
		margin-right: -4px; //fix for: invisible spacing for inline-block
	} @else {
		display: flex;
	} 
	// Flex Direction
	@if $direction == 'column' or $direction == 'col' {
		flex-direction: column;
	} @else {
		flex-direction: row;
	} 
	// Flex Wrap
	@if $wrap == 'nowrap' or $wrap == 'no-wrap' {
		flex-wrap: nowrap;
	} @else {
		flex-wrap: wrap;
	}
	// Justify Content
	@if $justifiy == null or $justifiy == 'space-between' or $justifiy == 'spacebetween' {
		justify-content: space-between;
	} @else if $justifiy == 'space-around' or $justifiy == 'spacearound' {
		justify-content: space-around;
	} @else if $justifiy == 'center' {
		justify-content: center;
	} @else if $justifiy == 'flex-start' or $justifiy == 'flexstart' or $justifiy == 'start'{
		justify-content: flex-start;
	} @else if $justifiy == 'flex-end' or $justifiy == 'flexend' or $justifiy == 'end' {
		justify-content: flex-end;
	}
	// Align items
	@if $align == null or $align == 'stretch' {
		align-items: stretch;
	} @else if $align == null or $align == 'baseline' {
		align-items: baseline;
	} @else if $align == 'center' {
		align-items: center;
	} @else if $align == 'flex-start' or $align == 'flexstart' or $align == 'start'{
		align-items: flex-start;
	} @else if $align == 'flex-end' or $align == 'flexend' or $align == 'end' {
		align-items: flex-end;
	}
}

/* =======================================*/
/*
/* DEVMODE
/* 
/* =======================================*/

@if $use-devmode == true {
	* {background: rgba($color-brand, 0.075) !important;}
} 

/* =======================================*/
/*
/* CLEARFIX
/* 
/* =======================================*/

@mixin clearfix() {
	*zoom: 1;
	&:before, &:after {
		content: '';
		display: table;
	}
	&:after {
		clear: both;
	}
}

