/* =======================================*/
/*
/* OVERRIDES
/*
/* =======================================*/

.fixed {
	@include column($sidebar-width, $behavior: stacking);
	background: $color-grey;
	height: $whitespace*2;
}
.flexible {
	@include column($behavior: stacking);
	background: $color-red;
	height: $whitespace*2;
}
.eigth {
	@include column(1/8, $gutter: true, $behavior: doubling);
	background: $color-grey;
	height: $whitespace*2;
}

