.component {
	margin: $spacing 0 0 0;
	border: 1px solid #ececec;
	
	&__header {
		padding: $spacing;
		background: #f7f7f7;
		border-bottom: 1px solid #ececec;
	}

	&__title {
		margin: 0 0 ($spacing / 2) 0;
		padding: 0;
		font-family: $font-family;
		font-size: $font-size + 2;
		line-height: $line-height;
	}

	&__usage {
		margin: 0;
		padding: 0;
		font-family: $font-family;
		font-size: $font-size - 2;
		line-height: $line-height;
	}
	
	&__sass {
		margin: 0;
		padding: 0;
		font-family: $font-family;
		font-size: $font-size - 2;
		line-height: $line-height;
	}

	&__body {
		padding: $spacing;
	}
}