.button {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	padding: $spacing/2.5 $spacing;
	border: none;
	border-radius: .2em;
	cursor: pointer;
	background: $color-brand;
	color: #fff;

	font-size: $font-size;
	line-height: $line-height;
	text-align: center;
	text-decoration: none;

	transition: all 0.15s linear;

	&:hover
	{
		background: lighten( $color-brand, 10% );
	}
}
