/* =======================================*/
/*
/* BUTTONGROUP
/*
/* =======================================*/
.buttongroup {
	@include flexbox($justify: flex-start);

	.button {
		border-radius: 0px;

		&:first-child {
			border-radius: $border-radius 0 0 $border-radius;
		}
		&:last-child {
			border-radius: 0 $border-radius $border-radius 0;
		}
		
		&--outlined {
			border-right: none;
			
			&:last-child {
				border-right: $border;
			}
		}
	}
}