/* =======================================*/
/*
/* BUTTON
/*
/* =======================================*/
// Mixin: Set Background Color & Hover + fitting Text Color
@mixin button-background($color) {
	@if (lightness($color) > 55%) {
		color: $color-black;
	}
	@else {
		color: #fff;
	}
	background: $color;
	&:hover { background: darken($color, 5%) };
}
// Mixin: Set Border Color & Hover + fitting Text Color
@mixin button-border($color) {
	background: #fff;
	color: $color;
	border: $border;
	&:hover { 
		@if (lightness($color) > 55%) {
			color: $color-black;
		}
		@else {
			color: #fff;
		}
		background: $color;
		border-color: $color;
	};
}

.button {
	@include button-background($color-grey);
	@include transition();
	display: inline-block;
	padding: $whitespace/2 $whitespace;
	margin-bottom: $whitespace;
	border-radius: $border-radius;
	outline: none;

	&--brand 		{@include button-background($color-brand);}
	&--spaceblack 	{@include button-background($color-spaceblack);}
	&--grey 		{@include button-background($color-grey);}
	&--spacegrey 	{@include button-background($color-spacegrey);}

	&--red 			{@include button-background($color-red);}
	&--pink 		{@include button-background($color-pink);}
	&--purple 		{@include button-background($color-purple);}

	&--lightblue 	{@include button-background($color-lightblue);}
	&--blue 		{@include button-background($color-blue);}
	&--darkblue 	{@include button-background($color-darkblue);}

	&--indigo 		{@include button-background($color-indigo);}
	&--cyan 		{@include button-background($color-cyan);}
	&--teal 		{@include button-background($color-teal);}

	&--green 		{@include button-background($color-green);}
	&--lightgreen 	{@include button-background($color-lightgreen);}
	&--lime 		{@include button-background($color-lime);}
	
	&--yellow 		{@include button-background($color-yellow);}
	&--amber 		{@include button-background($color-amber);}
	&--orange 		{@include button-background($color-orange);}
	

	&--outlined {
		@include button-background(#fff);
		border: $border;

		&.button--brand 		{@include button-border($color-brand);}
		&.button--spaceblack 	{@include button-border($color-spaceblack);}
		&.button--grey 			{@include button-border($color-grey);}
		&.button--spacegrey 	{@include button-border($color-spacegrey);}

		&.button--red 			{@include button-border($color-red);}
		&.button--pink 			{@include button-border($color-pink);}
		&.button--purple 		{@include button-border($color-purple);}

		&.button--lightblue 	{@include button-border($color-lightblue);}
		&.button--blue 			{@include button-border($color-blue);}
		&.button--lightblue 	{@include button-border($color-lightblue);}

		&.button--indigo 		{@include button-border($color-indigo);}
		&.button--cyan 			{@include button-border($color-cyan);}
		&.button--teal 			{@include button-border($color-teal);}

		&.button--green 		{@include button-border($color-green);}
		&.button--lightgreen 	{@include button-border($color-lightgreen);}
		&.button--lime 			{@include button-border($color-lime);}
		
		&.button--yellow 		{@include button-border($color-yellow);}
		&.button--amber 		{@include button-border($color-amber);}
		&.button--orange 		{@include button-border($color-orange);}
	}
}