/* =======================================*/
/*
/* THEME CONFIGURATION
/*
/* =======================================*/

/* ===COLORS - GENERAL=== */
$color-black: #333;
$color-spaceblack: #2F394D;
$color-grey: #eee;
$color-spacegrey: #a7adba;

$color-red: #F44336;
$color-pink: #E91E63;
$color-purple: #9C27B0;

$color-deeppurple: #673AB7;
$color-indigo: #3F51B5;
$color-blue: #2196F3;

$color-lightblue: #03A9F4;
$color-cyan: #00BCD4;
$color-teal: #009688;

$color-green: #4CAF50;
$color-lightgreen: #8BC34A;
$color-lime: #CDDC39;

$color-yellow: #FFEB3B;
$color-amber: #FFC107;
$color-orange: #FF9800;

/* ===COLORS - THEME=== */
$color-brand: $color-blue;

/* ===LAYOUT=== */
$spacing: 20px;

/* ===TYPOGRAPHY=== */
$font-family: 'Helvetica', 'Arial', sans-serif;
$font-size: 14px;
$line-height: 1.6;

/* ===UI=== */
$box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);

/* ===COMPONENTS=== */
$teaser-lines-to-show: 3;
