<article class="component">

	<header class="component__header">
		<h2 class="component__title" id="styleguide-section-{{ entry.title | slugify }}">
			{{ entry.title }}
		</h2>
		{% if entry.basescss %}
			<p class="component__scss">
				<span class="component__label">Scss:</span> <a href="{{ site.github_repo }}{{ entry.basescss }}" target="_blank">{{ entry.basescss }}</a>
			</p>
		{% endif %}
		{% if entry.componentscss %}
			<p class="component__scss">
				<span class="component__label">Scss:</span> <a href="{{ site.github_repo }}{{ entry.componentscss }}" target="_blank">{{ entry.componentscss }}</a>
			</p>
		{% endif %}
		{% if entry.usage %}
			<p class="component__note">
				<span class="component__label">Note:</span> {{ entry.usage }}
			</p>
		{% endif %}
	</header>
	<div class="component__body">
		<div class="component__display">
			{{ entry.content }}
		</div>
		<div class="component__source">
			{% highlight html %}
				{{ entry.content }}
			{% endhighlight %}
		</div>
	</div>

</article><!-- /.component -->
