/* =======================================*/
/*
/* TEASER
/*
/* =======================================*/

.teaser {
	background: #fff;
	border: $border;

	&__title {
		width: 100%;
		color: $color-black;
		padding: $whitespace;

		* {margin: 0;}
	}

	&__img {}

	&__content {
		height: $font-size * $line-height * $teaser-lines-to-show;
		margin: $whitespace/2 $whitespace;

		-webkit-line-clamp: $teaser-lines-to-show;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&__link {
		width: 100%;
		border-top: $border;
		padding: $whitespace;
	}
	
	// SINGLE TEASER
	&--single {
		@include flexbox($direction: column);
		@include column('1/1', $gutter: true);

		.teaser__img {
			@include column('1/1');
		}
		.teaser__wrapper {
			@include flexbox($direction: column);
			@include column('1/1');
		}
		.teaser__content {
			margin-top: 0;
		}
	}
	
	// DOUBLE TEASER
	&--double {
		@include flexbox($direction: column);
		@include column('1/2', $gutter: true);
	}
	
	// TRIPLE TEASER
	&--triple {
		@include flexbox($direction: column);
		@include column('1/3', $gutter: true);
	}
}


/* =======================================*/
/* RESPONSIVE BEHAVIOR
/* =======================================*/
@include at(xxl) {
	.teaser--single {
		@include flexbox($direction: row);

		.teaser__img {
			@include column('1/3');
		}
		.teaser__wrapper {
			@include flexbox($direction: row);
			@include column('2/3');
		}
	}
}
@include at(m) {
	.teaser--single {
		@include flexbox($direction: row);

		.teaser__img {
			@include column('1/3');
		}
		.teaser__wrapper {
			@include flexbox($direction: row);
			@include column('2/3');
		}
	}
}

@include at(xl) {
	.teaser {
		&--single {@include column('1/2', $gutter: true);}
		&--double {@include column('1/2', $gutter: true);}
		&--triple {@include column('1/2', $gutter: true);}
	}
}
@include at(l) {
	.teaser {
		&--single {@include column('1/1', $gutter: true);}
		&--double {@include column('1/1', $gutter: true);}
		&--triple {@include column('1/1', $gutter: true);}
	}
}
@include at(s) {
	.teaser {
		&--single {@include column('1/2', $gutter: true);}
		&--double {@include column('1/2', $gutter: true);}
		&--triple {@include column('1/2', $gutter: true);}
	}
}
@include at(xs) {
	.teaser {
		&--single {@include column('1/1', $gutter: true);}
		&--double {@include column('1/1', $gutter: true);}
		&--triple {@include column('1/1', $gutter: true);}
	}
}
