.teaser {
	@include flexbox(column);
	@include flexbox-width(33%);
	
	background: #fff;
	margin-bottom: $whitespace;
	border: 1px solid $color-grey;

	&__title {
		color: $color-black;
		padding: $whitespace;

		& * {margin: 0;}
	}
	&__img {

	}
	&__content {
		height: $font-size * $line-height * $teaser-lines-to-show;
		margin: $whitespace/2 $whitespace;

		-webkit-line-clamp: $teaser-lines-to-show;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	&__link {
		border-top: 1px solid $color-grey;
		padding: $whitespace;
	}
}