.teaser {
	@include flexbox(inline-flex, column);

	background: #fff;
	margin-bottom: $whitespace;
	border: 1px solid $color-grey;

	&__title {
		color: $color-black;
		padding: $whitespace;

		& * {margin: 0;}
	}
	&__img {

	}
	&__content {
		height: $font-size * $line-height * $teaser-lines-to-show;
		margin: $whitespace/2 $whitespace;

		-webkit-line-clamp: $teaser-lines-to-show;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	&__link {
		border-top: 1px solid $color-grey;
		padding: $whitespace;
	}
	
	// SINGLE TEASER
	&--single {@include flexbox-width(100%);}
	
	// DOUBLE TEASER
	&--double {@include flexbox-width(50%);}
	
	// TRIPLE TEASER
	&--triple {
		@include respond-above(x-small) { @include flexbox-width(100%); }
		@include respond-above(small) 	{ @include flexbox-width(50%); }
		@include respond-above(medium) 	{ @include flexbox-width(100%); }
		@include respond-above(large) 	{ @include flexbox-width(50%); }
		@include respond-above(x-large) { @include flexbox-width(33.333333333333%); }
	}
}