/* =======================================*/
/*
/* TEASER
/*
/* =======================================*/
.teaser {
	background: #fff;
	border: $border;

	&__title {
		width: 100%;
		color: $color-black;
		padding: $whitespace;

		* {margin: 0;}
	}

	&__img {}

	&__content {
		height: ($font-size - 1) * $line-height * $teaser-lines-to-show;
		margin: $whitespace/2 $whitespace;
		font-size: $font-size - 1;

		-webkit-line-clamp: $teaser-lines-to-show;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&__link {
		width: 100%;
		border-top: $border;
		padding: $whitespace;
	}
}