/* =======================================*/
/*
/* COMPONEN LIST
/*
/* =======================================*/

.component_list {

	&__title {
		display: block;
		margin: $whitespace 0 $whitespace/2 0;
	}
	&__item {
		margin-left: $whitespace;
	}
}


/* =======================================*/
/* RESPONSIVE BEHAVIOR
/* =======================================*/

@include respond-below(m) {
	.component_list {
		display: none;
	}
}