/* =======================================*/
/*
/* COMPONEN LIST
/*
/* =======================================*/

.component_list {

	&__title {
		display: block;
		font-weight: bold;
		color: darken($color-text, 15%);
		margin-top: $whitespace;

		&:first-child {
			margin-top: 0;
		}
	}
	&__item {
		margin-left: $whitespace;
	}
}


/* =======================================*/
/* RESPONSIVE BEHAVIOR
/* =======================================*/

@include respond-below(m) {
	.component_list {
		display: none;
	}
}