/* =======================================*/
/*
/* TYPOGRAPHY
/*
/* =======================================*/

body {
	font-family: $font-family;
	font-size: $font-size;
	// font-size: calc(#{$font-size} + 4 * ( (100vw - #{map-get($breakpoints, x-small)}) / 860));
}

ul {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 { }
h1 { }
h2 { }
h3 { }
h4 { }
h5 { }
h6 { }

p {
	line-height: $line-height;
	margin: 0 0 $whitespace/2 0;
}

a {
	color: $color-brand;
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
}