/* =======================================*/
/*
/* TYPOGRAPHY
/*
/* =======================================*/

body {
	font-family: $font-text;
	font-size: $font-size;
	color: $color-text;
}

ul, ol {
	margin: 0;
	padding: 0;
}

.content__page ul,
.content__page ol {
	margin: $whitespace/2 $whitespace $whitespace/2 0;
	padding: 0 0 0 $whitespace*2;

	li {margin-bottom: $whitespace/2;}
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-headline;
	color: darken($color-text, 15%);
}
h1 { }
h2 { }
h3 { }
h4 { }
h5 { }
h6 { }

p {
	line-height: $line-height;
	margin: 0 0 $whitespace/2 0;
}

a {
	color: $color-brand;
	text-decoration: none;
}

blockquote {
	margin: $whitespace/2 $whitespace;
}