<section class="slider">
	<div class="slider__inner">

		<div class="swiper-container">
			<div class="swiper-button-prev"></div>
			<div class="swiper-button-next"></div>
			<div class="swiper-wrapper">
				<div class="swiper-slide">HFC Relay 1</div>
				<div class="swiper-slide">HFC Relay 2</div>
				<div class="swiper-slide">HFC Relay 3</div>
				<div class="swiper-slide">HFC Relay 4</div>
				<div class="swiper-slide">HFC Relay 5</div>
				<div class="swiper-slide">HFC Relay 6</div>
				<div class="swiper-slide">HFC Relay 7</div>
				<div class="swiper-slide">HFC Relay 8</div>
				<div class="swiper-slide">HFC Relay 9</div>
				<div class="swiper-slide">HFC Relay 10</div>
			</div>
			<div class="swiper-pagination"></div>
		</div>
		<style>
			body, html {
				padding: 0;
				margin: 0;
				position: relative;
				height: 100%;
			}
			.swiper-container {
				width: 100%;
				height: 400px;
				margin: auto;
			}
			.swiper-slide {
				background: #fff;
				color:#444;
				text-align: center;
				line-height: 400px;
			}
		</style>



	</div>
</section>