/* =======================================*/
/*
/* HEADER
/*
/* =======================================*/

.header {
	width: 100%;
	min-height: $whitespace*20;
	padding: $whitespace;
	background: $color-brand;

	&__inner {
		@include responsive-container();
		min-height: $whitespace*20;
		color: #fff;
	}
}