/* =======================================*/
/*
/* HEADER
/*
/* =======================================*/

.header {
	width: 100%;
	min-height: $whitespace*20;
	padding: $whitespace;
	background: #eee;

	&__inner {
		min-width: map-get($breakpoints, large);
		max-width: map-get($breakpoints, x-large);
		margin: auto;
		
		@include respond-to(x-small) {min-width: 0;}
	}
}