.nav {
	background: #fff;
	
	&__icon {
		border-right: $border;
		padding: $whitespace;
	}
}
.is-active {
	background-color: #eee;
}

.nav__inner {
	@include container();
	padding: 0;
	list-style: none;
	
	// General: Clearfix
	&:before,
	&:after {content: " "; display: table;}
	&:after {clear: both;}
	
	// General: Setup
	.nav__subnav {
		min-width: 150px;
		list-style: none;
		background-color: #fff;
	}
	.nav__item {
		position: relative;
		border-top: $border;
	}
	.nav__link {
		padding: $whitespace;
	}
	
	/* =======================================*/
	/* LEVEL 1
	/* =======================================*/
	> .nav__item {
		float: left;
		border-right: $border;
		
		&:first-child {
			border-left: $border;
		}

		> .nav__link--parent {
			background-image: url("http://webdesigntutsplus.s3.amazonaws.com/tuts/378_tessa/tessa-lt-dropdowns-21c7868/images/downArrow.png");
			background-repeat: no-repeat; 
			background-position: 50% 85%;
		}
		
		> .nav__link {
			display: block;
		}
	}

	/* =======================================*/
	/* LEVEL 2
	/* =======================================*/
	.nav__subnav {
		position: absolute;
		left: -9999px;
		
	}
	> .nav__item.is-hovered > .nav__subnav {
		left: 0;

	}
	.nav__subnav .nav__item.is-hovered .nav__subnav {
		left: 100%;
		top: -1px;
		border-left: 1px solid #eee;
	}
	
	/* =======================================*/
	/* LEVEL 3
	/* =======================================*/
	.nav__item .nav__item a {
		display: block;
	}
	.nav__item .nav__item .nav__item a {

	}
}


/* =======================================*/
/* RESPONSIVE BEHAVIOR
/* =======================================*/

@include below(medium) {
	.nav__inner {

		> .nav__item {
			float: none;
			border-right: none;
			
			&:first-child {border-left: none;}
		}
		> .nav__item > .nav__link--parent {
			background-position: 95% 50%;
		}
		
		> .nav__item > .nav__link--parent {
			background-image: none; 
		}
		.nav__item .more {
			background: url("http://webdesigntutsplus.s3.amazonaws.com/tuts/378_tessa/tessa-lt-dropdowns-21c7868/images/downArrow.png") no-repeat 50%;
			float: right;
			width: $whitespace;
			padding: $whitespace;
			cursor: pointer;
			border-left: $border;
			z-index: 200; //For: Nested Subnav
			position: relative; //For: Nested Subnav
		}

		.nav__subnav {
			display: block;
			width: 100%;
		}
		> .nav__item.is-hovered > .nav__subnav, .nav__item .nav__item.is-hovered .nav__subnav {
			position: static;
		}
	}

	.is-active {
		display: block;
	}
}