/* =======================================*/
/*
/* NAV
/*
/* =======================================*/

.nav {
	background: #fff;

	&__inner {
		@include flexbox();
		@include container();
		justify-content: flex-end;
		list-style-type: none;
	}

	&__item {
		border-right: $border;

		&:hover {

			.nav--subnav {

				.nav__inner {
					display: block;
				}
			}
		}
	}
	
	&__link {
		display: inline-block;
		color: $color-black;
		text-align: center;
		font-size: $font-size;
		padding: $whitespace $whitespace;

		transition: $transition;

		&:hover,
		&.is-active {
			background: $color-grey;
		}
	}

	.icon {
		float: right;
		height: $whitespace;
		width: $whitespace;
		position: relative;
		top: $whitespace;
		right: $whitespace/2;
		fill: $color-brand;
	}
}


/* =======================================*/
/*
/* SUBNAV
/*
/* =======================================*/

.nav--subnav {

	.nav__inner {
		@include flexbox($direction: column);
		background-color: #fff;
		display: none;
		position: absolute;
	}
}



/* =======================================*/
/* RESPONSIVE BEHAVIOR
/* =======================================*/

@include below(medium) {
	.nav {

		&__inner {
			@include flexbox($direction: column);
		}
	}

	.nav--subnav {

		.nav__inner {
			position: relative;
		}
	}
}
