{% capture html %}
	<nav class="nav">
		<ul class="nav__inner">
			
			{% if include.context == "/" %}
				<li class="nav__item">
					<a class="nav__link {% if page.url == "/" %}is-active{% endif %}" href="{{ site.baseurl }}/">Startseite</a>
				</li>
			{% endif %}

			{% assign pages = site.pages | sort: "position" %}
			{% for p in pages %}
			
			{% capture slug    %}{{ p.url | split: "/"   | last                       }}{% endcapture %}
			{% capture current %}{{ p.url | remove: slug | remove: "//" | append: "/" }}{% endcapture %}
			
			{% if current == include.context %}
				{% unless p.url contains "style" %}
					<li class="nav__item">
						<a class="nav__link {% if page.url contains p.url %}is-active{% endif %}" href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a>
						{% if p.children == true %}
							{% include components_base/nav/nav.html context=p.url %}
						{% endif %}
					</li>
				{% endunless %}
			{% endif %}
			
			{% endfor %}
		</ul>
	</nav>
{% endcapture %}{{ html | strip_newlines | replace:'    ','' | replace:'    ','' | replace:'  ',' ' }}