/* =======================================*/
/*
/* MNAV
/*
/* =======================================*/

.mnav {
	background: $color-brand;

	&__inner {
		@include flexbox($direction: row);
		@include responsive-container();
		list-style-type: none;

		@include respond-below(small) {
			@include flexbox($direction: column);
		}
	}

	&__item {

	}
	
	&__link {
		display: block;
		color: #fff;
		text-align: center;
		font-size: $font-size;
		padding: $whitespace $whitespace;

		transition: $transition;

		&:hover,
		&.is-active {
			background: lighten($color-brand, 10%);
		}
	}
}
