/* =======================================*/
/*
/* MNAV
/*
/* =======================================*/

.mnav {
	background: $color-brand;

	&__inner {
		min-width: map-get($breakpoints, large);
		max-width: map-get($breakpoints, x-large);
		margin: auto;
		
		@include respond-to(x-small) {min-width: 0;}
	}

	&__item {
		display: inline-block;
	}
	
	&__link {
		display: block;
		color: #fff;
		font-size: $font-size;
		padding: $whitespace $whitespace;

		transition: $transition;

		&:hover,
		&.is-active {
			background: lighten($color-brand, 10%);
		}
	}
}
