{% capture html %}
	
	<!--================================================
		|					|
		|       SETUP       |
		|					|
	================================================-->
	<!--Set & Sort Pages -->
	{% assign pages = site.pages | sort: "position" %}
	<!--Set Navigation Level -->
	{% assign level = level %}
	

	<!--================================================
		|					|
		| CREATE NAVIGATION |
		|					|
	================================================-->

	<!--================================================
	CREATE NAV (If Level is 0 create normal nav)
	================================================-->
	{% if include.level == null %}
	<nav class="mnav">
		<a class="mnav__icon" href="#">
			<i></i>Navigation
		</a>
		<ul class="mnav__inner">
	{% else %}

	<!--================================================
	CREATE SUBNAV (If Level is above 0 create Subnav)
	================================================-->
	<ul class="mnav__subnav">
	{% endif %}
			
		{% for p in pages %}
			<!-- Setup - Prepare url -->
			{% capture slug %}{{ p.url | split: "/" | last }}{% endcapture %}
			{% capture current %}{{ p.url | remove: slug | remove: "//" | append: "/" }}{% endcapture %}
		
			<!-- Setup - Prepare url -->
			{% if current == include.context or current == "//" %}
				{% unless p.url contains "style" %} <!-- For: excluding styleguide.md -->
					
					<!--================================================
					CREATE SUBNAV-ITEMS (If Level above 0 (subnav) exclude Home)
					================================================-->
					{% if level >= 1 %}
						{% unless p.url == "/" %}
							<li class="mnav__item">
								<a class="mnav__link {% if page.url contains p.url %}is-active{% endif %}" href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a>
								{% if p.children == true %}
									<!-- Increment Level-->
									{% assign level = level | plus: 1 %}
									{% include components_base/mnav/mnav.html context=p.url level=level %}
								{% endif %}
							</li>
						{% endunless %}

					<!--================================================
					CREATE NAV-ITEMS (If Level is 0 include Home)
					================================================-->
					{% else %}
						<li class="mnav__item">
							<a class="mnav__link {% if page.url contains p.url %}is-active{% endif %}" href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a>
							{% if p.children == true %}
								<!-- Increment Level-->
								{% assign level = level | plus: 1 %}
								{% include components_base/mnav/mnav.html context=p.url level=level %}
							{% endif %}
						</li>
					{% endif %}

				{% endunless %} <!-- For: excluding styleguide.md -->
			{% endif %}
		{% endfor %}

	
	
	<!-- End: Top Level -->
	{% if include.level == null %}
		</ul>
	</nav>
	{% else %}
	
	<!-- End: Sub Level -->
	</ul>
	{% endif %}


{% endcapture %}{{ html | strip_newlines | replace:'    ','' | replace:'    ','' | replace:'  ',' ' }}