/* =======================================*/
/*
/* MNAV
/*
/* =======================================*/

.mnav {
	border-top: $border;
	position: relative;
	z-index: 99;
	box-shadow: $box-shadow-size-5;
	
	// General: State
	.is-active {}
	.is-hovered {}

	// General: Elements
	&__icon {
		display: none;
	}
	&__inner {
		@include container();
		@include clearfix();
		padding: 0;
		list-style: none;
	}
	&__item {
		float: left;
		position: relative;
		border-right: $border;
		
		&:first-child {border-left: $border;}
	}
	&__link {
		padding: $whitespace;
		color: $color-black;
		display: block;
	}
	&__link--parent {
		
		&:after {
			content: '\f107';
			font-family: 'fontawesome';
			margin-left: 15px;
			float: right;
			color: $color-brand;
		}
	}
	&__more {
		display: none;
	}
	&__subnav {
		min-width: 150px;
		list-style: none;
		background-color: #fff;

		position: absolute;
		visibility: hidden;

		opacity: 0;
		transform: translateY(10px);
		box-shadow: $box-shadow-size-5;
		@include transition();

		.mnav__link--parent {
		
			&:after {
				content: '\f105';
			}
		}
	}
}


/* =======================================*/
/* SUBNAV - LEVEL 1
/* =======================================*/

.mnav {

	// Show Subnav
	&__item.is-hovered > &__subnav {
		visibility: visible;

		opacity: 1;
		transform: translateY(0px);
		@include transition();
	}

	// Subnav Level 1
	&__subnav {

		.mnav__item {
			float: none;
			border-top: $border;
			border-right: none;

			&:first-child {border-left: none;}
		}
	}
}


/* =======================================*/
/* SUBNAV - LEVEL 2 & 3
/* =======================================*/

.mnav {

	// Show Subnav
	&__item.is-hovered > &__subnav {
		visibility: visible;

		opacity: 1;
		transform: translateX(0px);
		@include transition();
	}

	// Subnav Level 2 & 3
	&__subnav &__subnav {
		left: 100%;
		top: -1px;
		border-left: 1px solid #eee;
		transform: translateX(10px);
	}
}


/* =======================================*/
/* RESPONSIVE BEHAVIOR
/* =======================================*/

@include respond-below(m) {
	.mnav {

		// General: State
		.is-active {}
		.is-hovered {}
		
		// General: NavIcon
		&__icon {
			display: inline-block;
			color: $color-black;
			border-right: $border;
			padding: $whitespace;

			// Toggle mnav
			&.is-active {
				+.mnav__inner {display: block;}
			}
			
			// Icon
			i:before, i:after {
				position: absolute;
				content: '';
			}
			i, i:before, i:after {
				display: block;
				width: 25px;
				height: 2px;
				background-color: $color-brand;
				float: left;
				margin: 7px 15px 0 0;
			}
			i:before {margin-top: -8px;}
			i:after {margin-top: 8px;}
			
			// Transition
			&.is-active i {
				background: rgba(0,0,0,0.0);
				transition-delay: 175ms;
			}
			& i:before {
				transition: margin 175ms 175ms, transform 175ms 0s;
			}
			&.is-active i:before {
				margin-top: 0;
				transform: rotate(45deg);
				transition: margin 175ms 0ms, transform 175ms 175ms;
			}
			& i:after {
				transition: margin 175ms 175ms, transform 175ms 0s;
			}
			&.is-active i:after {
				margin-top: 0;
				transform: rotate(-45deg);
				transition: margin 175ms 0ms, transform 175ms 175ms;
			}
		}
			
		// General: Elements
		&__inner {
			display: none;
		}
		&__item {
			float: none;
			border-top: $border;
			border-right: none;
			
			&:first-child { border-left: none; }
		}
		&__link--parent {
			
			&:after {
				display: none;
			}
		}

		// Subnav - Level 1, 2, 3
		&__more {
			display: block;
			float: right;
			color: $color-brand;
			text-align: center;
			height: $whitespace*2.8;
			width: $whitespace*2.8;
			padding: $whitespace;
			cursor: pointer;
			border-left: $border;
			z-index: 200; //For: Nested Subnav
			position: relative; //For: Nested Subnav
			
			// Dropdown Icon
			&:after {
				content: '\f107';
				font-family: 'fontawesome';
			}
		}
		&__subnav {
			display: none;
			width: 100%;
		}
		&__subnav &__subnav {
			border-left: none;
		}
		&__item.is-hovered > &__subnav {
			display: block;
			position: static;
		}
	}
}