{% capture html %}
	
	{% comment %}
	|||||||||||||||||||||
	|       SETUP       |
	|||||||||||||||||||||
	{% endcomment %}

	{% comment %}Set & Sort Pages {% endcomment %}
	{% assign pages = site.pages | sort: "position" %}

	{% comment %}Set Navigation Level {% endcomment %}
	{% assign level = level %}
	

	{% comment %}
	|||||||||||||||||||||
	| CREATE NAVIGATION |
	|||||||||||||||||||||
	{% endcomment %}

	{% comment %}
	Top Level
	{% endcomment %}
	{% if include.level == null %}
	<nav class="mnav">
		<a class="mnav__icon" href="#">
			<i></i>Navigation
		</a>
		<ul class="mnav__inner">
	{% else %}
	{% comment %}
	Sub Level
	{% endcomment %}
	<ul class="mnav__subnav">
	{% endif %}
			
		{% comment %}Start-Page (fixed) {% endcomment %}
		{% if include.context == "/" %}
			<li class="mnav__item">
				<a class="mnav__link {% if page.url == "/" %}is-active{% endif %}" href="{{ site.baseurl }}/">Startseite</a>
			</li>
		{% endif %}
		
		{% comment %}Other Pages (dynamic) {% endcomment %}
		{% for p in pages %}
			
			{% capture slug %}{{ p.url | split: "/" | last }}{% endcapture %}
			{% capture current %}{{ p.url | remove: slug | remove: "//" | append: "/" }}{% endcapture %}

			{% if current == include.context %}
				{% unless p.url contains "style" %}
					<li class="mnav__item">
						<a class="mnav__link {% if page.url contains p.url %}is-active{% endif %}" href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a>
						{% if p.children == true %}
							{% comment %}Increment Level{% endcomment %}
							{% assign level = level | plus: 1 %}
							{% include components_base/mnav/mnav.html context=p.url level=level %}
						{% endif %}
					</li>
				{% endunless %}
			{% endif %}

			{% endfor %}
	
	{% comment %}
	End: Top Level
	{% endcomment %}
	{% if include.level == null %}
		</ul>
	</nav>
	{% else %}
	{% comment %}
	End: Sub Level
	{% endcomment %}
	</ul>
	{% endif %}


{% endcapture %}{{ html | strip_newlines | replace:'    ','' | replace:'    ','' | replace:'  ',' ' }}