<!-- Head -->
{% include components_base/head/head.html %}
<body>
	<!-- Nav -->
	{% include components_base/nav/nav.html context="/" %}
	<!-- Slider -->
	{% include components_base/slider/slider.html %}

	<!-- Content -->
	<section class="content">
		<div class="content__inner">
			<!-- Content: Page -->
			<div class="content__page">
				{% include components/breadcrumb/breadcrumb.html link="#" %}
				{{ content }}
			</div>
		</div>
	</section>
	
	<!-- Footer -->
	{% include components_base/footer/footer.html %}
</body>
</html>
