<!-- Head -->
{% include components_base/head/head.html %}
<body>
	<!-- Header -->
	{% include components_base/header/header.html %}
	<!-- Navigation -->
	{% include components_base/mnav/mnav.html context="/" %}
	<!-- Slider -->
	{% include components_base/slider/slider.html arrows="light" pagination="light" title="HFC Relay" text="lorem" link="#" %}

	<!-- Content -->
	<section class="content">
		<div class="content__inner">
			<!-- Content: Sidebar -->
			{% include components_base/sidebar/sidebar.html %}
			<!-- Content: Page -->
			<div class="content__page">
				{% include components/breadcrumb/breadcrumb.html link="#" %}
				{{ content }}
			</div>
			<!-- Content: Sidebar -->
			{% include components_base/sidebar/sidebar.html %}
		</div>
	</section>
	
	<!-- Footer -->
	{% include components_base/footer/footer.html %}
</body>
</html>
