<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
	<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css" media="screen">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styleguide.css" media="screen">
</head>
<body>
	{% include components_base/nav/nav.html context="/" %}
	{% include components_base/header/header.html %}
	<section class="content">
		<div class="content__inner">
			{% include components_base/sidebar/sidebar.html %}
			<div class="content__page">
				{{ content }}
			</div>
		</div>
	</section>
	{% include components_base/footer/footer.html %}
</body>
</html>

