<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
	<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" media="screen">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/styleguide.css" media="screen">
</head>
<body>
	{% include base/mnav.html %}
	{% include base/header.html %}
	<div class="content">
		{{ content }}
	</div>
	{% include base/footer.html %}
</body>
</html>

