/* =======================================*/
/*
/* BUTTON
/*
/* =======================================*/
.button {
	color: $color-brand;
	padding: $whitespace/2 $whitespace;
	margin-bottom: $whitespace;
	border: $border;
	border-radius: $border-radius;
}