/* =======================================*/
/*
/* BUTTON
/*
/* =======================================*/
.button {
	color: #fff;
	background: $color-brand;
	padding: $whitespace/2 $whitespace;
	margin-bottom: $whitespace;
	border-radius: $border-radius;

	&:hover {
		background: darken($color-brand, 10%);
	}
}