/* =======================================*/
/*
/* FOOTER
/*
/* =======================================*/

.footer {
	width: 100%;
	padding: $whitespace;
	border-top: $border;

	&__inner {
		@include container();
	}
}