/* =======================================*/
/*
/* FOOTER
/*
/* =======================================*/

.footer {
	width: 100%;
	padding: $whitespace;
	border-top: 1px solid #eee;

	&__inner {
		min-width: map-get($breakpoints, large);
		max-width: map-get($breakpoints, x-large);
		margin: auto;
		
		@include respond-to(x-small) {min-width: 0;}
	}
}