/* =======================================*/
/*
/* FOOTER
/*
/* =======================================*/

.footer {
	width: 100%;
	padding: $whitespace;
	border-top: 1px solid #eee;

	&__inner {
		@include responsive-container();
	}
}