<section class="footer">
	<div class="footer__inner">
		Footer 
		<a href="{{ site.baseurl }}/styleguide">Styleguide</a>
	</div>
</section>

{% if include.jquery != false %}
	<!-- SCRIPTS: JQUERY -->
	<script src="{{ site.baseurl }}/assets/js/jquery-2.1.4.min.js"></script>
{% endif %}

{% if include.navigation_js != false %}
	<!-- SCRIPTS: NAVIGATION -->
	<script>{% include components_base/navigation/navigation.js %}</script>
{% endif %}

{% if include.slider_js != false %}
	<!-- SCRIPTS: SLIDER -->
	<script>{% include components_base/slider/slider.js %}</script>
{% endif %}