<section class="footer">
	<div class="footer__inner">
		Footer 
		<a href="{{ site.baseurl }}/styleguide">Styleguide</a>
	</div>
</section>

<!-- SCRIPTS: BASE -->
{% if site.use_jquery == true %}
	<script src="{{ site.baseurl }}/assets/js/jquery-2.1.4.min.js"></script>
{% endif %}

<!-- SCRIPTS: COMPONENTS -->
{% include components_base/nav/nav.js %}

<!-- SCRIPTS: SLIDER -->
<script src="{{ site.baseurl }}/assets/js/swiper.js"></script>
<script>
    var swiper = new Swiper('.swiper-container', {
    	// direction: 'vertical',
        centeredSlides: true,
        keyboardControl: true,
        lazyLoading: true,
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        pagination: '.swiper-pagination',
        paginationClickable: true
    });
</script>

