/* =======================================*/
/*
/* SIDEBAR
/*
/* =======================================*/

.sidebar {
	width: $sidebar-width;
	margin: 0 $whitespace 0 0;
	padding: $whitespace;
	border: $border;
	
	&__inner {}
}

// For: 2 sidebars
* + .sidebar {
	margin: 0 0 0 $whitespace;
	@include below(medium) { margin: 0; }
}


/* =======================================*/
/* RESPONSIVE BEHAVIOR
/* =======================================*/

@include below(medium) { 
	.sidebar {
		width: 100%;
	}
}


