/* =======================================*/
/*
/* SIDEBAR
/*
/* =======================================*/

.sidebar {
	width: 100%;
	margin: 0 $whitespace 0 0;
	padding: $whitespace;
	border: $border;
	
	&__inner {}
}

@include respond-to(medium) { 
	.sidebar {
		width: $sidebar-width; 
	}
}


// For: 2 sidebars
* + .sidebar {
	margin: 0;
	@include respond-to(medium) { margin: 0 0 0 $whitespace; }
}
