/* =======================================*/
/*
/* SIDEBAR
/*
/* =======================================*/

.sidebar {
	width: $sidebar-width;
	margin: 0 $whitespace 0 0;
	padding: $whitespace;
	border: 1px solid #eee;

	&__inner {
	}
}


* + .sidebar {
	margin: 0 0 0 $whitespace;
}