/* =======================================*/
/*
/* SIDEBAR
/*
/* =======================================*/

.sidebar {
	@include column(2/10, $gutter: true, $behavior: stacking);
	padding: $whitespace;
	border: $border;
	margin: 0 $whitespace 0 0;
}

// For: 2 sidebars
* + .sidebar {
	margin: 0 0 0 $whitespace;
}